#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mobilizon"
name = "Mobilizon"
description.en = "Decentralized and federated platform to organize events"
description.fr = "Plateforme décentralisée et fédérée pour organiser des événements"

version = "4.0.2~ynh1"

maintainers = ["yalh76"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joinmobilizon.org/"
demo = "https://demo.mobilizon.org"
userdoc = "https://docs.joinmobilizon.org"
code = "https://framagit.org/framasoft/mobilizon/"
fund = "https://soutenir.framasoft.org/"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "arm64"]
multi_instance = false
ldap = true
sso = true
disk = "200M"
ram.build = "700M"
ram.runtime = "400M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]
    [resources.sources.bookworm]
    amd64.url = "https://packages.joinmobilizon.org/4.0.2/mobilizon_4.0.2_amd64-debian-bookworm.tar.gz"
    amd64.sha256 = "832a0e1931776d6f0c344f4148ad6937c696e842bd1e2cb6cf95ccf4be45b4f3"
    
    [resources.sources.bullseye]
    amd64.url = "https://packages.joinmobilizon.org/4.0.2/mobilizon_4.0.2_amd64-debian-bullseye.tar.gz"
    amd64.sha256 = "6225d2baec63c60409c02dcd10a6c224fd5a2cb6ffeab7a171fbcc00427b77c4"
    arm64.url = "https://packages.joinmobilizon.org/4.0.2/mobilizon_4.0.2_arm64-debian-bullseye.tar.gz"
    arm64.sha256 = "679e7067811a07a9895745826b4b9fca3291b46237eed698763ec0c02ed9ac76"

    autoupdate.strategy = "latest_gitlab_release"
    autoupdate.asset.amd64 = "mobilizon_.*_amd64-debian-bookworm.tar.gz"
    autoupdate.asset.amd64 = "mobilizon_.*_amd64-debian-bullseye.tar.gz"
    autoupdate.asset.arm64 = "mobilizon_.*_arm64-debian-bullseye.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["uploads"]
    owner = "__APP__:rwx"
    group = "__APP__:rwx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095

    [resources.apt]
    packages = [
        "postgresql",
        "postgresql-client",
        "postgresql-contrib",
        "postgis",
        "postgresql-postgis-scripts",
        "postgresql-postgis",
        "argon2",
        "imagemagick",
        "webp",
        "gifsicle",
        "jpegoptim",
        "optipng",
        "pngquant",
        "file",
    ]

    [resources.database]
    type = "postgresql"
